# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android Studio & Gradle
.gradle/
.idea/
*.iml
*.ipr
*.iws
/android/build/
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release
/android/captures/
/android/.externalNativeBuild/
local.properties

# iOS / Xcode
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Pods/
**/ios/.symlinks/
*.xcworkspace
*.xcuserdata

# Visual Studio Code
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.history
.svn/
.swiftpm/
app.*.symbols
app.*.map.json
